.nav {
  background-color: #424242;
  order: 3;
  flex: 0 0;
}

.nav li+li {
  margin-top: 1em;
}

.nav a {
  display: block;
  color: #FAFAFA;
  text-decoration: none;
  opacity: .7;
  font-size: 13px;
}

.nav a span {
  display: block;
}

.nav a:hover, .nav a.current {
  opacity: 1;
}

.nav a img{
  max-width: 36px;
  text-align: center;
  margin-bottom: .3em;
}


