.wms > div {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wms > div > div {
  padding: 1em;
}
