{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],

  "plugins": [
    ["relay", { "schema": "./server/models/graphql.graphql" }],
    "react-hot-loader/babel",
  ],

  "env": {
    "production": {
      "presets": [
        "es2015",
        "react",
        "react-optimize",
        "es2015-native-modules",
        "stage-0"
      ],
      "plugins": [
        ["relay", { "schema": "./server/models/graphql.graphql" }],
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    }
  }
}
