.footer {
  flex: 0!important;
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  background-color: #263238;
  color: #eceff1;
  font-size: .8em
}
.footer > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer > div > div+div {
  padding-left: 1em;
}

@media all and (max-width: 800px) {
  .footer > div  {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .footer > div  {
    flex-direction: column;
  }
  .footer > div > div+div {
    margin-top: 1em;
    padding-left: 0;
  }
}
.footer-name {
  font-size: 40px;
  color: #FFF;
  line-height: 1.15;
}
.footer-name-thin {
  display: block;
  font-size: .75em;
  color: #eceff1;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}

.footer h4 {
  text-transform: uppercase;
  color: #767b7f;
}
.footer a {
  display: block;
  transition: color 0.5s ease;
  padding: .3em 0;
  text-decoration: none;
  color: #eceff1;
}
.footer a:hover {
  transition: color 0.5s ease;
  color: #e91e63;
}

.form {
  padding: .3em 0;
}

.footer input {
  background-color: #263238;
  color: #FFF;
  font-size: 16px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #597582;
  display: inline-block;
  clear: both;
}

.footer .footer-btn {
  display: inline-block;
  margin-left: .55em;
  padding: .55em .8em;
  text-decoration: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: 400;
  transition: background-color 0.5s ease;
  background-color: #00bcd4;
}

.footer .footer-btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
  color: #FFF;
}