.document_view {
  padding: 1em;
  background-color: #E0E0E0;
}

.document_view > div + div {
  margin-top: 1em;
  display: block;
  clear: both;
}

/* document__table */

table {
  width: 100%;
  border-radius: 2px;
}

td, th {
  border: 1px solid #b5bcbf;
  font-size: 13px;
  padding: .4em .4em .3em .4em;
  color: #263238;
}

td {
  background-color: #fff;
}

th, td:first-child, tr:last-child td {
  background-color: #eceff1;
}

th {
  font-weight: 400;
}

.line_number  {
  text-align: center;
  padding-left: .7em;
  padding-right: .7em;
  width: auto;
}

.number {
  text-align: right;
}

.text {
  text-align: left;
}

/* Active row */
tr:hover td {
  background-color: #eceff1;
}

tr:hover td:first-child {
  background-color: #f6f8f8;
}

/* results layer */
.results {
  color: #F4511E;
  font-weight: 400;
  background-color: #f6f8f8;
}