/* MAIN */

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#root {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#root > div {
  padding: 1em;
}

@media all and (min-width: 600px) {
  .document_view    { flex: 3 0px; }
  .list_view { order: 1; } 
  .document_view    { order: 2; }
  .subsystems_view { order: 3; }
}