.list_view {
  padding: 1em;
  background-color: #eceff1;
  border-right: 1px solid #b5bcbf;
  order: 1;
}

.list_view > * + * {
  margin-top: 1em;
  display: block;
}

.list_view .list__header {
  font-size: 1.5em;
  font-weight: 300;
  color: #212121;
}

.list_view li {
  display: block;
}

.list_view li+li {
  margin-top: .5em;
}

.list_view a {
  text-decoration: none;
  color: #212121;
}

.active {
  font-weight: 500;
}