.list_view {
  background-color: #BDBDBD;
  order: 1;
}

.list_view > * + * {
  margin-top: 1em;
  display: block;
  clear: both;
}

.list_view .list__header {
  font-size: 1.5em;
  font-weight: 300;
  color: #212121;
}

.list_view li {
  display: block;
}

.list_view li+li {
  margin-top: .5em;
}

.selected {
  font-weight: 500;
}