.home {
  background-color: grey;
}

.home > div {
  width: 100%;
}

.section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 .5em;
}

/*------------------------*/

.nav > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background-color: #263238;
  padding-top: .55em;
  padding-bottom: .55em;
}

@media all and (max-width: 800px) {
  .nav > div  {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .nav > div  {
    flex-direction: column;
  }
}

.nav-link, 
.nav-button {
  padding: .55em .8em;
  text-decoration: none;
  display: block;
}

.nav-link {
  transition: color 0.5s ease;
  color: #00bcd4;
}

.nav-link:hover {
  transition: color 0.5s ease;
  color: #e91e63;
}

.nav-button {
  border-radius: 3px;
  color: #FFF;
  font-weight: 400;
  transition: background-color 0.5s ease;
  background-color: #00bcd4;
}

.nav-button:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
}

/*------------------------*/

.hero {
  background-color: #263238;
  background-image: linear-gradient(to bottom, #263238, #000000);
}

.hero > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-description {
  align-self: center;
  order: 1;
  flex: 2 2;
}

.hero-img {
  padding-top: 2em;
  line-height: 0;
  min-width: 400px;
  order: 2;
  flex: 3 3;
}

.hero-img img {
  max-width: 100%;
}

.hero-description {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3),
    0px 2px 2px rgba(0,0,0,0.3);
}

.hero p {
  font-size: 32px;
  color: #eceff1;
}

.app-name {
  font-size: 100px;
  color: #FFF;
  line-height: 1.15;
}
.app-name-thin {
  display: block;
  font-size: .75em;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  color: #eceff1;
}

@media (max-width: 748px) {
  .app-name {
    font-size: 60px;
  }
  .hero p {
    font-size: 24px;
  }
}

/*-------------------------*/
.features {
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #eceff1;
  box-shadow: 0px -1px 2px rgba(167, 167, 167, 0.55),
    0px 1px 2px rgba(167, 167, 167, 0.55);
}

.features h2 {
  font-size: 48px;
  text-align: center;
}

.features h3 {
  font-size: 36px;
}

.features img {
  border-radius: 3px;
  max-width: 100%;
  box-shadow: 0px -1px 1px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1),
    0px 3px 3px rgba(0,0,0,0.1);
}

.feature {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.feature + .feature {
  margin-top: 1.5em;
}

.feature-text {
  flex: 3 0px;
  min-width: 300px;
}

@media (min-width: 550px) and (max-width: 800px) {
  .feature-img {
    width: 100%;
    text-align: left;
    margin-bottom: .5em;
  }
  .feature + .feature {
    margin-top: 3em;
  }
}
@media (min-width: 800px) and (max-width: 1600px) {
  .feature-img {
    width: 60%;
    text-align: right;
    padding-right: 1em;
  }
}

/* DISCLAIMER */
.disclaimer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #FFF;
}
 
.disclaimer > div > h3,
.disclaimer > div > p {
  padding: .3em 20px;
  border-radius: 3px;
  background-color: #FFF;
}
.disclaimer .yellow {
  background-color: #E91E63;
  background-image: linear-gradient(to right, #E91E63, #00BCD4);
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  padding: 20px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1);
  display: inline-block;
  clear: both;
}

.disclaimer p + p {
  margin-top: .5em;
}

.disclaimer h3 {
  font-size: 36px;
}

.disclaimer-btn {
  margin-top: 1em;
  padding: .55em .8em;
  text-decoration: none;
  display: inline-block;
  clear: none;
  transition: background-color 0.5s ease;
  background-color: #00bcd4;
  color: #FFF;
  border-radius: 3px;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1);
}
.disclaimer-btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
}

/* FOOTER */
.footer {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  background-color: #263238;
  color: #eceff1;
  font-size: .8em
}
.footer > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.footer > div > div {
  flex: 3;
  padding: .55em;
}
.footer > div > div:first-child,
.footer > div > div:last-child {
  flex: none;
}
.footer-name {
  font-size: 40px;
  color: #FFF;
  line-height: 1.15;
}
.footer-name-thin {
  display: block;
  font-size: .75em;
  color: #eceff1;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
}

.footer h4 {
  text-transform: uppercase;
  color: #bec1c3;
}
.footer a {
  display: block;
  transition: color 0.5s ease;
  padding: .3em 0;
  text-decoration: none;
  color: #eceff1;
}
.footer a:hover {
  transition: color 0.5s ease;
  color: #e91e63;
}

.footer-btn {
  display: inline-block;
  transition: background-color 0.5s ease;
  background-color: #FFF;
  color: #263238;
  padding: .55em;
  border-radius: 3px;
  font-weight: 400;
}
.footer-btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
  color: #FFF;
}

.footer input {
  background-color: #263238;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #597582;
}

.form {
  padding: .3em 0;
}
