/* BEGIN CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.15;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* general */
body, html {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
::selection { 
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
p + p {
  margin-top: .2em;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-bottom: .35em;
}
strong {
  font-weight: 700;
}
em {
    font-style: oblique;
}

/* all wrappers, footer and nav*/
.root > div {
  width: 100%;
}

.section {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 .5em;
}

.skew {
  transform: skewY(-5deg);
}
.skew > div{
  transform: skewY(5deg);
}

/* NAV */
.nav {
  padding-top: .55em;
  padding-bottom: .55em;
  background-color: #263238;
  text-align: right;
}
.nav .menu-item {
  padding: .55em .8em;
  display: inline-block;
  clear: none;
  transition: color 0.5s ease;
  color: #00bcd4;
}
.nav .menu-item:hover {
  transition: color 0.5s ease;
  color: #e91e63;
}
.nav .btn {
  transition: background-color 0.5s ease;
  background-color: #00bcd4;
  color: #FFF;
  border-radius: 3px;
  font-weight: 400;
}
.nav .btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
  color: #FFF;
}

/* HERO */
.hero {
  padding-top: 6.5em;
  padding-bottom: 6em;
  background-color: #263238;
  background-image: linear-gradient(to bottom, #263238, #000000);
  overflow: hidden;
}
.hero .section {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.hero .description {
  order: 1;
  padding-bottom: 4em;
  padding-right: 2em;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3),
    0px 2px 2px rgba(0,0,0,0.3);
}
.hero .img {
  min-width: 40%;
  order: 2;
  flex: 3 0px;
  position: relative;
  bottom: -1em;
}
.hero img {
  max-width: 100%;
} 

.hero h1 {
  font-size: 96px;
  color: #FFF;
}
.hero h1 .thin {
  display: block;
  font-size: 80px;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  color: #eceff1;
}
.hero p {
  font-size: 32px;
  color: #eceff1;
}
@media (max-width: 500px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h1 .thin {
    display: inline;
    font-size: 60px;
  }
  .hero p {
    font-size: 24px;
  }
}



/* FEATURES */
.features {
  padding-top: 4em;
  padding-bottom: 2em;
  padding-bottom: 4em;
  margin-top: -10em;
  background-color: #eceff1;
  box-shadow: 0px -1px 2px rgba(167, 167, 167, 0.55),
    0px 1px 2px rgba(167, 167, 167, 0.55);
}
.features h2 {
  font-size: 48px;
  text-align: center;
}
.features h3 {
  font-size: 36px;
}
.features img {
  border-radius: 3px;
  max-width: 100%;
  box-shadow: 0px -1px 1px rgba(0,0,0,0.1),
    0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1),
    0px 3px 3px rgba(0,0,0,0.1);
}
.feature {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.feature + .feature {
  margin-top: 1.5em;
}
.feature-text {
  flex: 3 0px;
  min-width: 300px;
}
@media (min-width: 550px) and (max-width: 800px) {
  .feature-img {
    width: 100%;
    text-align: left;
  }
}
@media (min-width: 800px) and (max-width: 1600px) {
  .feature-img {
    width: 60%;
    text-align: right;
    padding-right: 1em;
  }
}

/* DISCLAIMER */
.disclaimer {
  padding-top: 4em;
  padding-bottom: 2em;
  margin-top: -.5em;
  background-color: #FFF;
}
 
.disclaimer .section > h3,
.disclaimer .section > p {
  padding: .3em;
  border-radius: 3px;
  background-color: #FFF;
  
}
.disclaimer p.yellow {
  background-color: #E91E63;
  background-image: linear-gradient(to right, #E91E63, #00BCD4);
  color: #FFF;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  padding: .7em;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1);
  display: inline-block;
  clear: both;
}

/* small screens bg style */
@media (min-width: 550px) and (max-width: 800px) {
  .disclaimer {
  background-image: url(./images/bad.png);
  background-repeat: no-repeat;
  background-position-x: -270px;
  background-position-y: top;
  background-size: contain;
  }
  .disclaimer .section {
    padding-left: 200px;
  }
}
/* relatively big screens bg style */
@media (min-width: 800px) and (max-width: 2000px) {
  .disclaimer {
  background-image: url(./images/bad.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: contain;
  }
  .disclaimer .section {
    padding-left: 450px;
  }
}

.disclaimer p + p {
  margin-top: .5em;
}
.disclaimer h3 {
  font-size: 36px;
}
.disclaimer .btn {
  margin-top: 1em;
  padding: .55em .8em;
  display: inline-block;
  clear: none;
  transition: background-color 0.5s ease;
  background-color: #00bcd4;
  color: #FFF;
  border-radius: 3px;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1),
    0px 2px 2px rgba(0,0,0,0.1);
}
.disclaimer .btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
}

/* FOOTER */
.footer {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  background-color: #263238;
  color: #eceff1;
  font-size: .8em
}
.footer .section {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.footer .section > div {
  flex: 3;
  padding: .55em;
}
.footer .section > div:first-child,
.footer .section > div:last-child {
  flex: none;
}
.footer h3{
  font-size: 40px;
}
.footer h3 .thin{
  font-weight: 300;
}
.footer h4{
  text-transform: uppercase;
  color: #bec1c3;
}
.footer a {
  display: block;
  transition: color 0.5s ease;
  padding: .3em 0;
}
.footer a:hover {
  transition: color 0.5s ease;
  color: #e91e63;
}

.footer .btn {
  display: inline-block;
  transition: background-color 0.5s ease;
  background-color: #FFF;
  color: #263238;
  padding: .55em;
  border-radius: 3px;
  font-weight: 400;
}
.footer .btn:hover {
  transition: background-color 0.5s ease;
  background-color: #e91e63;
  color: #FFF;
}

.footer input {
  background-color: #263238;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #597582;
}

.footer .form {
  padding: .3em 0;
}
